extends layout

block content
	h1.text-center Add new Picture
	form(action='/new_post' method='POST').horizontal-form.text-center
		div.form-group
			label(for='url') Image URL:   
			input(type='text' name='url' id='url')
		div.form-group
			label(for='name') Name Pins:  
			input(type='text' name='name' id='name')
		div.form-group
			input(type='submit' value='Add Image').btn.btn-success