body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #222;
  color: white;
}

a {
  color: #00B7FF;
}

input{
	color: black;
}


.grid-item{
	width: 200px;
	height: auto;
	border: 2px solid white;
	margin-bottom: 10px;
}


.grid-item:after{
	content: '';
	display: table;
	clear: both;
}

.grid:after{
	content: '';
	display: table;
	clear: both;
}


.grid-item img{
	max-width: 100%;
}
